div#menu {
  display: block;
  margin: .25em; }
  div#menu h3 {
    display: inline-block;
    margin: .25em; }

#coordinates {
  display: inline-block; }

div#controller {
  height: 2em;
  width: 3em; }
  div#controller div {
    display: inline-block; }
    div#controller div #up {
      display: block;
      width: 3em;
      margin-left: auto;
      margin-right: auto; }
    div#controller div img {
      height: 1em;
      width: 1em; }

#cell-grid {
  display: inline-block;
  position: absolute;
  height: 600px;
  width: 600px;
  margin-left: 5%; }

#cell-grid div {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0; }

.cells {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: lightgray; }

.energy-pod {
  width: 64px;
  height: 64px;
  background: url(../images/energy.png) -2px 0px; }

.movement {
  width: 55px;
  height: 40px;
  background: url(../images/mario1.jpg) -20px -3px; }
